.vtex-telemarketing .vtex-popover__arrow-up {
  right: 20px;
}

.vtex-telemarketing .vtex-popover__box {
  min-width: 320px;
}

/* Popover css */

.vtex-popover__arrow-up {
  width: 25px;
  height: 25px;
  left: 86%;
}

.vtex-popover__box {
  visibility: visible;
  min-width: 310px;
}

.vtex-popover__content-container {
  min-width: 100%;
}

.vtex-telemarketing__client-name-bar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  text-align: left;
}

@media only screen and (max-width: 27em) {
  .vtex-popover__box {
    width: 100vw;
    right: -1vw;
  }

  .vtex-telemarketing .vtex-popover__box {
    top: 5vw;
  }
}

@media screen and (aspect-ratio: 40/71) {
  .vtex-popover__box {
    right: -1.1vw;
    width: 100vw;
    top: 4.1vh !important;
  }
}