.vtex-telemarketing .vtex-popover__arrow-up {
  background-color: rgb(25, 25, 25);
  right: 20px;
}

.vtex-telemarketing .vtex-popover__box {
  top: 3rem;
  min-width: 320px;
}

/* Logout */

.vtex-telemarketing .vtex-telemarketing__logout .vtex-popover__arrow-up {
  background-color: #ff4c4c;
}

/* Popover css */

.vtex-popover__arrow-up {
  width: 25px;
  height: 25px;
  right: 7px;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.2);
}

.vtex-popover__box {
  top: 100%;
  visibility: visible;
  min-width: 310px;
}

.vtex-popover__content-container {
  min-width: 100%;
}
