.container .popoverArrowUp {
  right: 20px;
}

.container .popoverBox {
  min-width: 320px;
}

/* Popover css */

.popoverArrowUp {
  width: 25px;
  height: 25px;
  left: 86%;
}

.popoverBox {
  visibility: visible;
  min-width: 310px;
}

.popoverContentContainer {
  min-width: 100%;
}

.clientName {
  word-break: break-word;
}

.clientNameBar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  text-align: left;
}

@media screen and (aspect-ratio: 40/71) {
  .popoverBox {
    right: -2.4vw;
    width: 100vw;
    top: 4.1vh !important;
  }
}

.login {
}

.popoverHeaderIcon {
}

.popoverHeaderEmail {
}

.loginForm {
}

.loginFormMessage {
}

.emailInput {
}

.logout {
}

.logoutForm {
}

.popoverContainer {
}
